body {
    width: 100%;
    background-color: #ffffff;
    font-family: 'Poiret One', cursive;
    font-size: 16pt;
    margin: 0;
}
h1 {
    font-family: 'Poiret One', cursive;
    font-size: 20pt;
    font-style: bold;
    padding: 10px 10px 10px 10px;
}
h2 {
    font-family: 'Poiret One', cursive;
    font-size: 18pt;
    font-style: bold;
    padding: 10px 10px 10px 10px;
}

header {
    position: fixed;
    width: 60%;
    border-top: solid 3px #000;
    border-bottom: solid 3px #000;
}

main {
    padding-top: 100px;
    width: 60%;
}
li {
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
}

img {
    float: left;
    width: 50%;
    margin-right: 20px;
}